@{
    ViewData["Title"] = "AboutUs Page";
}

<div class="text-center">
    <h2>About Charm's Fluffy Bears</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
