@{
    ViewData["Title"] = "AboutUs Page";
}

<div class="text-center">
    <h2>About Charm's Fluffy Teddy Bears Company</h2>
    <p>
        It's not unusual to find a teddy bear sitting in the middle of someone's living room, cuddled up against a sofa or perched on a bed with its head on the pillow. But if you're an avid collector and you're looking for something more sophisticated than the standard filled bear, it may be worth checking out Charm's Fluffy Teddy Bears Company.
    </p>

    <p>
        We are an online retailer specializing in only the best of luxury stuffed animals, handmade with super-soft mohair; perfect for any occasion.
    </p>

    <p>
        But While we were designing and making these teddy bears, our main focus was on not only creating the most adorable, cuddly toys but also for us in particular. Our Teddy Bears have something sweet and sentimental about them. They may look like your average stuffed animal but you'll be surprised to find out that they're really more than just a toy. These Fluffy Teddy Bears are stuffed with love and life, nothing less.
    </p>
    <img src="~/images/img1.jpg" alt="Charm's Fluffy Teddy Bears" style="width:500px;height:400px;">
    <p>
        Our main goal is to give you value for your money. We want you to enjoy your new Fluffy Teddy Bear to the fullest and not feel disappointed after receiving it. This is our guarantee promise.
    </p>

    <p>
        We also offer free shipping with minimum order amount. Sometimes, we even offer free shipping if you just have a few teddy bears to purchase.
    </p>
    <img src="~/images/img2.jpg" alt="Charm's Fluffy Teddy Bears" style="width:530px;height:600px;">
</div>
