@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/img3.jpeg" alt="Charm's Fluffy Teddy Bears" style="width:500px;height:600px;">
</div>
